DIY/accounts-sapi/src/main/mule/accounts-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getAccounts" doc:id="1be01982-dd34-44a3-b7ab-58b1e2090852" >
		<db:select doc:name="Select" doc:id="fb3d2cf5-d9d7-4358-bb4b-4f72700e8a8b" config-ref="accountsGenericDatabase">
			<db:sql ><![CDATA[SELECT *
  FROM flights_customers]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="7edba654-6024-4186-9aac-4dd0177c506e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.accountID as Number default 0,
	name: payload01.name default "",
	"type": payload01.accountType default "",
	address: "\"" ++
	         payload01.street as String ++ ", " ++
	         payload01.city as String ++ ", " ++
	         payload01.state as String ++ ", " ++
	         payload01.postal as String ++ ", " ++
	         payload01.country as String ++ ", " ++
	         "\'",
	airMiles: payload01.miles default 0,
	creationDate: payload01.creationDate default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dd9ab68d-7fae-400c-9810-e5e75a8452dd" message="#[payload]"/>
	</flow>
</mule>
